{include admin.inc.header}

<body>

<div class="am-g tpl-g">
    
    {include admin.inc.top}
    
    
    {include admin.inc.leftmenu}
    
    <!-- content goes here -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">{$optTitle}</div>
                            {permission $add_url $permissions}
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="{$add_url}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 申请</a>
                                </div>
                            </div>
                            {/permission}
                        </div>
                        <div class="widget-body  am-fr">
                            {include leave.leave.apply_index_search}
                            <div id="list_table">
                                {include leave.leave.apply_index_list}
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="am-u-lg-12">
                    {include admin.inc.footer}
                </div>
                
            </div>
        </div>
    </div>
    
</div>
{include admin.inc.res}
<script>
    seajs.use("leave", function (exports) {
        
    });
    
</script>

</body>

</html>